/* Base font styles */
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Font weight variations */
.montserrat-light {
    composes: montserrat;
    font-weight: 300;
}

.montserrat-regular {
    composes: montserrat;
    font-weight: 400;
}

.montserrat-medium {
    composes: montserrat;
    font-weight: 500;
}

.montserrat-bold {
    composes: montserrat;
    font-weight: 700;
}