<div class="container-fluid p-0">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="#">Employee Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/list-employees" routerLinkActive="active">List All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/add-employee" routerLinkActive="active">Add Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/edit-employee" routerLinkActive="active">Edit Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/delete-employee" routerLinkActive="active">Delete Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/find-employee" routerLinkActive="active">Find Employee</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>